@import '_bootstrap.less';
@import '_blog.less';
@import '_fonts.less';
@import '_layout.less';
@import '_section.less';
@import '_social.less';
@import '_typography.less';


@brand-primary: #ce9132;

@font-family-sans-serif:  'Karla', sans-serif;
@font-family-serif:       'Libre Baskerville', serif;

@section-slat:    1.5deg;
@section-padding: 100px;

@header-tick-size:   1.5em;
@header-tick-space:  1em;
@header-tick-height: 2px;

@icon-font-path:     '../font/';
@icon-font-family:   'peet-io-icons';
@icon-social-padding: 0.4em;
