@import '_bootstrap.less';
@import '_blog.less';
@import '_contact.less';
@import '_experience.less';
@import '_fonts.less';
@import '_layout.less';
@import '_section.less';
@import '_skill.less';
@import '_social.less';
@import '_typography.less';


@brand-primary: #ce9132;

@page-border-width: 10px;
@page-border-color: #fff;

@font-family-sans-serif:  'Karla', sans-serif;
@font-family-serif:       'Libre Baskerville', serif;

@section-slat:    1.5deg;
@section-padding: 100px;

@header-tick-size:   1.5em;
@header-tick-space:  1em;
@header-tick-height: 2px;

@icon-font-path:     '../font/';
@icon-font-family:   'peet-io-icons';
@icon-social-padding: 0.4em;

@skill-name-spacing: 50px;

@tl-arrow-width: 50px;
@tl-arrow-margin: 15px;
@tl-arrow-head: 5px;

@form-control-bg: #eee;
@form-control-spacing: @grid-gutter-width;
@form-control-font-size: 20px;
