include _mixins

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        link(rel='stylesheet', href='/css/style.css', type='text/css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Karla:700,400|Libre+Baskerville:400,400italic', type='text/css')

        title Connor Peet - Full-Stack Web and Software Developer

    body
        .page-border

        nav.navbar
            .container
                .navbar-header
                    a.navbar-brand(href="#") Connor Peet
                ul.nav.navbar-nav.navbar-right
                    li: a(href="#about") About
                    li: a(href="#experience") Experience
                    li: a(href="#contact") Contact
                    li: a(href="/blog") Blog
        .intro
            h1 Hello World
            p I'm a full-stack web and software developer. #[br] Let's build something #[i beautiful].

            a(href="#about")

        a(name="about")
        .section.white.slant-up: .container
            h2
                | Me
                small T'was a dark and stormy night...
            p.focus I'm a web and software developer, developing for nine years (the last six professionally). I loving making logically beautiful and visually stunning things.

            .row
                .col-sm-3.col-md-offset-1.col-xs-3: img.profile(src="/img/profile.jpg", alt="Hi there!")
                .col-sm-8.col-xs-9.row
                    .col-sm-8
                        h5 Bio
                        p I was born in Maryland and raised a military brat, living in Japan, Florida, and Italy over the years. I'm currently attending the University of Toronto, and working hard to learn to speak Canadian (eh?).
                        p Outside of mashing the keyboard, I enjoy swimming, bicycling, cooking, and travelling.

                        ul.social-mini: +socialsList()
                    .col-sm-4
                        h5 Blog
                        ul.blog-list
                            li
                                a(href="#") Lorem ipsum dolor sit amet.
                                span Jul 7
                            li
                                a(href="#") Lorem ipsum dolor
                                span Jul 1
                            li
                                a(href="#") Lorem ipsum dolor sit amet consectur.
                                span Jun 25
                            li
                                a(href="#") Lorem ipsum dolor sit amet.
                                span Jun 18

        #js-map.map

        a(name="skills")
        .section.primary.slant-down: .container
            h2 Skills #[small Including but not limited to...]
            p.focus Part of my passion for development is driven by a love of learning &mdash; new tools, languages, and approaches to problems. As a result I've gained experience with a wide variety of technologies.

            .row
                .col-sm-6: +skill("JavaScript") I've been developing professionally in JavaScript for neigh on five years. I have proficiency with both frontend and backend JavaScript development. I've used JavaScript everything from #[a(href="#experience-mcph") large web applications] to #[a(href="https://github.com/MCProHosting/artisan-cassandra-orm") high-performance ORMs].
                .col-sm-6: +skill("Go") Go is a relatively recent addition to my arsenal. Since introducing it at Beam, we've  since used it to build scalable microservices as well as our core #[a(href="https://github.com/WatchBeam") streaming platform], which chomps through massive amounts of data per second.
            .row
                .col-sm-6: +skill("PHP") PHP was my 'mother language', so to speak, and in the eight-odd years since my first #[code &lt;?php echo "Hello World"; ?&gt;] I've used it to build #[a(href="https://ready2frag.com") small websites] to #[a(href="#experience-mcph") e-commerce systems] that process thousands of transactions per day.
                .col-sm-6: +skill("Python") My experience with Python primarily revolves around web applications. I work with Python on a daily basis at #[a(href="#experience-rvs") Re Vera Services], and outside of that maintain an open source project or two.


        a(name="experience")
        .section.dark.backdrop: .container
            h2 Experience

            a(name="experience-mcph")
            +experience({
                position: 'Lead Developer', company: 'MCProHosting & Beam',
                from: 'March 2014', to: 'Present'
            })
                p MCProHosting is the largest Game Service Provider on the globe. My primary work there relates to Beam, a live-streaming startup. Since joining, the devops team has grown from two to fourteen people, constantly increasing the company's competitiveness and expanding into new market areas.
                p As the Lead Developer, it is my responsibility to:
                ul
                    li Lead and coordinate team members on a day-to-day basis.
                    li Produce technical and architectural solutions to new product specifications.
                    li Ensure software quality via peer code review and automated testing.
                    li Mentor developers to expand their skills and introduce them to new technologies.
                    li Collaborate on the development of new features and bug fixes.

            a(name="experience-thankhu")
            +experience({
                position: 'Web Developer', company: 'Thank.hu',
                from: 'May 2014', to: 'August 2014'
            })
                p Thank.hu is a startup designed to make the process of gift giving easier. Primarily targeted at salespeople and "corporate" givers, the platform was designed to increase the speed and efficency of a laborious process. My work there involved development of an e-commerce platform, with integration into Salesforce and Concur. Machine learning to provide gift recommendations, based on automated retrieval of social media profiles, was also explored.

            a(name="experience-ferrous-networks")
            +experience({
                position: 'Director', company: 'Ferrous Networks',
                from: 'December 2012', to: 'January 2013'
            })
                p Ferrous Networks was a startup game service provider founded by two friends and myself. As a small shop, I worked in all aspects of but business from marketing to customer support to server administration.  We also developed an incremental, hourly-rate billing system, which was an entirely new approach at the time in the industry. Before being acquired by a competitor, we had built the business up to serve thousands of active clients in six datacenters around the globe.

        .section.white.slant-up: .container
            h2 Contact #[small Come in for a chat!]
            p.focus I'd love to talk to you. Feel free to shoot me a message, or connect on social media. I'll get back to you as fast as I can!

            .col-sm-offset-1.col-sm-8.col-xs-10
                form.contact
                    .row
                        .col-sm-6: input.control(type="text", placeholder="Email", name="email")
                        .col-sm-6: input.control(type="text", placeholder="Subject", name="subject")

                    textarea.control(name="message", placeholder="Your message...")
                    input.control.submit(type="submit", value="Send Message")

            .col-xs-2
                ul.social-full: +socialsList(true)

        footer Copyright #{ new Date().getUTCFullYear() } Connor Peet. This site is #[a(href="https://github.com/connor4312/peet-io") open source], of course!

        script(src='//maps.googleapis.com/maps/api/js')
        script(src='/js/peet.js')
